# Database url to postgresql database.
DATABASE_URL=""

# Auth resend api key for sending emails with magic links.
AUTH_RESEND_KEY=""

# Auth secret for generating jwt tokens.
# you can generate a secret by running the following command in your terminal:
# openssl rand -hex 32
AUTH_SECRET=""

# Email address from which the magic link emails will be sent.
AUTH_EMAIL_FROM=""
